<div class="container">
    <h1 class="text-center">Statistics</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-hover">
                <tr>
                    <th>Sprint</th>
                    <th>Weight</th>
                    <th>Waist</th>
                    <th>Arm</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="stat in $ctrl.stats">
                    <td>{{ stat.sprint.start_date }} - {{ stat.sprint.end_date }}</td>
                    <td>{{ stat.weight }}</td>
                    <td>{{ stat.waist }}</td>
                    <td>{{ stat.arm }}</td>
                    <td>{{ stat.date }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteStat(stat)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <form ng-submit="$ctrl.addStat()">
                <input ng-model="$ctrl.stat.weight" type="number" placeholder="Weight" class="form-control">
                <input ng-model="$ctrl.stat.waist" type="number" placeholder="Waist" class="form-control">
                <input ng-model="$ctrl.stat.arm" type="number" placeholder="Arm" class="form-control">
                <input ng-model="$ctrl.stat.date" type="date" placeholder="Date" class="form-control">
                <select ng-model="$ctrl.stat.sprint" ng-options="sprint.start_date for sprint in $ctrl.sprints">
                    <option value="" selected>Select sprint...</option>
                </select>
                <button type="submit" class="btn btn-info">Add</button>
            </form>
        </div>
    </div>
</div>
